ANLEITUNG_REGELUNG.md
ANLEITUNG_SCHALTPLAN.md
README_TUNING.md
thermal_data.json
thermal_data2.json
thermal_data3.json
thermal_data4.json
time_temp.png
image2.jpeg
image3.jpeg
serial_20260501_091937.txt
serial_20260501_094503.txt
README_TUNING.md

